﻿@{
    ViewBag.Route = "settings";
}
<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Settings</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>
</div>
<!-- end:: Content Head -->

<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Protection Type:
            </h3>
        </div>
    </div>
    <div class="kt-portlet__body">
        <div class="form-group row form-group-marginless">
            <div class="col-lg-10">
                <div class="row">
                    <div class="col-lg-6">
                        <label class="kt-option kt-option--plain">
                            <span class="kt-option__control">
                                <span class="kt-radio kt-radio--brand">
                                    <input  id="manualCheck" type="radio" name="m_option_1" value="1" checked="">
                                    <span></span>
                                </span>
                            </span>
                            <span class="kt-option__label">
                                <span class="kt-option__head">
                                    <span class="kt-option__title">
                                        Manual Protect
                                    </span>
                                </span>
                            </span>
                        </label>
                    </div>
                    <div class="col-lg-6">
                        <label class="kt-option kt-option--plain">
                            <span class="kt-option__control">
                                <span class="kt-radio kt-radio--brand">
                                    <input id="automaticCheck" type="radio" name="m_option_1" value="1" >
                                    <span></span>
                                </span>
                            </span>
                            <span class="kt-option__label">
                                <span class="kt-option__head">
                                    <span class="kt-option__title">
                                        Automatic Protect
                                    </span>
                                </span>
                            </span>
                        </label>
                        <div class="row">
                            <div id="manualId" class="form-group row form-group-marginless" style="display:none">
                                <div class="col-lg-10">
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <label class="kt-option kt-option--plain">
                                                <span class="kt-option__control">
                                                    <span class="kt-radio kt-radio--brand">
                                                        <input type="radio" name="m_option_2" value="2">
                                                        <span></span>
                                                    </span>
                                                </span>
                                                <span class="kt-option__label">
                                                    <span class="kt-option__head">
                                                        <span class="kt-option__title">
                                                            Low Protect
                                                        </span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="kt-option kt-option--plain">
                                                <span class="kt-option__control">
                                                    <span class="kt-radio kt-radio--brand">
                                                        <input type="radio" name="m_option_2" value="2" checked="">
                                                        <span></span>
                                                    </span>
                                                </span>
                                                <span class="kt-option__label">
                                                    <span class="kt-option__head">
                                                        <span class="kt-option__title">
                                                            Medium Protect
                                                        </span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="kt-option kt-option--plain">
                                                <span class="kt-option__control">
                                                    <span class="kt-radio kt-radio--brand">
                                                        <input type="radio" name="m_option_2" value="2" checked="">
                                                        <span></span>
                                                    </span>
                                                </span>
                                                <span class="kt-option__label">
                                                    <span class="kt-option__head">
                                                        <span class="kt-option__title">
                                                            High Protect
                                                        </span>
                                                    </span>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="kt-portlet">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <h3 class="kt-portlet__head-title">
                Anonymous Identity
            </h3>
        </div>
    </div>
    <!--begin::Form-->
    <form class="kt-form kt-form--label-right">
        <div class="kt-portlet__body">
            <div class="form-group row">
                <label for="example-text-input" class="col-2 col-form-label">Name</label>
                <div class="col-10">
                    <input class="form-control" type="text" value="Jan" id="example-text-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-search-input" class="col-2 col-form-label">Surname</label>
                <div class="col-10">
                    <input class="form-control" type="search" value="Kowalski" id="example-search-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-email-input" class="col-2 col-form-label">Email</label>
                <div class="col-10">
                    <input class="form-control" type="email" value="j.kowalaski@example.com" id="example-email-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-url-input" class="col-2 col-form-label">URL</label>
                <div class="col-10">
                    <input class="form-control" type="url" value="https://www.sample.com" id="example-url-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-tel-input" class="col-2 col-form-label">Telephone</label>
                <div class="col-10">
                    <input class="form-control" type="tel" value="555-555-555" id="example-tel-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-password-input" class="col-2 col-form-label">Password</label>
                <div class="col-10">
                    <input class="form-control" type="password" value="hunter2" id="example-password-input">
                </div>
            </div>
            <div class="form-group row">
                <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
                <div class="col-10">
                    <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                </div>
            </div>
        </div>
        <div class="kt-portlet__foot">
            <div class="kt-form__actions">
                <div class="row">
                    <div class="col-2">
                    </div>
                    <div class="col-10">
                        <button type="reset" class="btn btn-success">Save</button>
                        <button type="reset" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
    $(function () {
        $('#automaticCheck').change(function () {
            console.log("change");
            console.log($("#automaticCheck").prop("checked"));
            var x = document.getElementById("manualId");
            var check = document.getElementById("automaticCheck");
            if (x.style.display === "none" && $("#automaticCheck").prop("checked")) {
                x.style.display = "block";
              } else {
                x.style.display = "none";
              }
        });

        $('#manualCheck').change(function () {
            console.log("change");
            console.log($("#manualCheck").prop("checked"));
            var x = document.getElementById("manualId");
            var check = document.getElementById("manualCheck");
            if ($("#manualCheck").prop("checked")) {
                x.style.display = "none";
              } else {
                x.style.display = "block";
              }
        });
    });
</script>