﻿@using Microsoft.AspNetCore.Hosting;
@inject GoldBug.Data.ApplicationDbContext db;
@{
    ViewBag.Route = "dashboard";
    var websites = db.UserSites.OrderByDescending(a => a.Views).Take(5).ToList();
    var ws = db.WordSearches.OrderByDescending(a => a.Count).Take(5).ToList();

}


<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Dashboard</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>
</div>

<!-- end:: Content Head -->

<div class="row">
    <div class="col-lg-6">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon kt-hidden">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Top 5 Websites
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div id="kt_gchart_3" style="height:500px;"></div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
    <div class="col-lg-6">
        <!--begin::Portlet-->
        <div class="kt-portlet kt-portlet--tab">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <span class="kt-portlet__head-icon kt-hidden">
                        <i class="la la-gear"></i>
                    </span>
                    <h3 class="kt-portlet__head-title">
                        Top 5 search words
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <div id="kt_gchart_32" style="height:500px;"></div>
            </div>
        </div>
        <!--end::Portlet-->
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">

    (function () {
        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawCharts);

        function drawCharts() {
            drawChart();
            drawChart2();
        }

        function drawChart() {

            var data = google.visualization.arrayToDataTable([
                ['Website', 'Views'],
                @foreach(var w in websites)
                {
                    <text>['@w.Domain', @w.Views],</text>
                }

            ]);

            var options = {
                title: 'Top websites'
            };

            var chart = new google.visualization.PieChart(document.getElementById('kt_gchart_3'));

            chart.draw(data, options);
        }

            function drawChart2() {

            var data = google.visualization.arrayToDataTable([
                ['Keyword', 'Count'],
                @foreach(var w in ws)
                {
                    <text>['@w.Name', @w.Count],</text>
                }

            ]);

            var options = {
                title: 'Top search'
            };

            var chart = new google.visualization.PieChart(document.getElementById('kt_gchart_32'));

            chart.draw(data, options);
        }


    })();



</script>
