﻿@inject GoldBug.Data.ApplicationDbContext db;
@{
    ViewBag.Route = "securityrules";

    var dbRules = db.SiteSecurityRules.ToList();
}


<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">Security rules</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>
</div>

<!-- end:: Content Head -->


<div class="row">
    <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
            <div class="kt-portlet__body">
                <div class="kt-widget11">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td style="width:1%">#</td>
                                    <td style="width:14%">Name</td>
                                    <td style="width:15%">Site</td>
                                    <td style="width:15%">Code</td>
                                    <td style="width:15%">Script</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var a in dbRules)
                                {
                                    <tr>
                                        <td>
                                            <i class="flaticon2-lock kt-font-danger"></i>
                                        </td>
                                        <td>
                                            <span>@a.Name</span>
                                        </td>
                                        <td>
                                            <a href="@Url.Action("ViewMySite","UserMySites",new { siteId=a.UserSiteId})" class="kt-widget11__title"><img style="width:20px" src="https://www.google.com/s2/favicons?domain=@a.Site" />  @a.Site</a>
                                        </td>
                                        <td>
                                            @a.RuleCode
                                        </td>
                                        <td>
                                            @a.RuleRegex
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="kt-widget11__action kt-align-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


