﻿<div class="kt-aside  kt-aside--fixed  kt-grid__item kt-grid kt-grid--desktop kt-grid--hor-desktop" id="kt_aside">

    <!-- begin:: Aside -->
    <div class="kt-aside__brand kt-grid__item  " id="kt_aside_brand">
        <div class="kt-aside__brand-logo">
            <a href="@Url.Action("Dashboard","UserPanel")">
                <img alt="Logo" src="~/images/logo/logo_png.png" style="width:60px" />
            </a>
        </div>
    </div>

    <!-- end:: Aside -->
    
    <!-- begin:: Aside Menu -->
    <div class="kt-aside-menu-wrapper kt-grid__item kt-grid__item--fluid" id="kt_aside_menu_wrapper">
        <div id="kt_aside_menu" class="kt-aside-menu  kt-aside-menu--dropdown " data-ktmenu-vertical="1" data-ktmenu-dropdown="1" data-ktmenu-scroll="0">
            <ul class="kt-menu__nav ">

                @if (ViewBag.Route == "dashboard")
                {
                    <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("Dashboard","UserPanel")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-setup"></i><span class="kt-menu__link-text">Dashboard</span></a></li>

                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("Dashboard","UserPanel")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-setup"></i><span class="kt-menu__link-text">Dashboard</span></a></li>
                }

                @if (ViewBag.Route == "mysites")
                {
                    <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("ViewMySties","UserMySites")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-layers"></i><span class="kt-menu__link-text">My Sites</span></a></li>
                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("ViewMySties","UserMySites")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-layers"></i><span class="kt-menu__link-text">My Sites</span></a></li>
                }

                @if (ViewBag.Route == "securityrules")
                {
                    <li class="kt-menu__item kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("ViewMySecurityRules","UserSecurityRules")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-shield"></i><span class="kt-menu__link-text" style="text-align:center">Security rules</span></a></li>
                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("ViewMySecurityRules","UserSecurityRules")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-shield "></i><span class="kt-menu__link-text" style="text-align:center">Security rules</span></a></li>
                }

                @if (ViewBag.Route == "alerts")
                {
                    <li class="kt-menu__item kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("ViewMyAlerts","UserAlerts")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-exclamation"></i><span class="kt-menu__link-text">Alerts</span></a></li>
                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("ViewMyAlerts","UserAlerts")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-exclamation "></i><span class="kt-menu__link-text">Alerts</span></a></li>
                }

                @if (ViewBag.Route == "notifications")
                {
                    <li class="kt-menu__item kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("ViewMyNotifications","UserNotifications")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-notification"></i><span class="kt-menu__link-text">Notifications</span></a></li>
                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("ViewMyNotifications","UserNotifications")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-notification"></i><span class="kt-menu__link-text">Notifications</span></a></li>
                }

                @if (ViewBag.Route == "my-word-search")
                {
                    <li class="kt-menu__item kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("MyWordSearch","WordSearch")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-search"></i><span class="kt-menu__link-text" style="text-align:center">Word search</span></a></li>
                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("MyWordSearch","WordSearch")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-search"></i><span class="kt-menu__link-text" style="text-align:center">Word search</span></a></li>
                }

                @*<li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-layers-1"></i><span class="kt-menu__link-text">Actions</span></a>
            <div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Actions</span></span></li>
                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Add New</span></a></li>
                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Edit</span></a></li>
                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Delete</span></a></li>
                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--line"><span></span></i><span class="kt-menu__link-text">Import</span></a></li>
                </ul>
            </div>
        </li>*@
                @*<li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-graph"></i><span class="kt-menu__link-text">Reports</span></a></li>
        <li class="kt-menu__item  kt-menu__item--submenu" aria-haspopup="true" data-ktmenu-submenu-toggle="hover">
            <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><i class="kt-menu__link-icon flaticon2-drop"></i><span class="kt-menu__link-text">Config</span></a>
            <div class="kt-menu__submenu ">
                <span class="kt-menu__arrow"></span>
                <ul class="kt-menu__subnav">
                    <li class="kt-menu__item  kt-menu__item--parent" aria-haspopup="true"><span class="kt-menu__link"><span class="kt-menu__link-text">Config</span></span></li>
                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Import</span></a></li>
                    <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">Backup</span></a></li>
                </ul>
            </div>
        </li>
        <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-analytics-2"></i><span class="kt-menu__link-text">Console</span></a></li>
        <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-protected"></i><span class="kt-menu__link-text">System</span></a></li>
        <li class="kt-menu__item " aria-haspopup="true"><a href="#" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-mail-1"></i><span class="kt-menu__link-text">Logs</span></a></li>*@

                @if (ViewBag.Route == "stats")
                {
                    <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("ViewUserStats","UserStats")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-pie-chart-1"></i><span class="kt-menu__link-text">Stats</span></a></li>
                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("ViewUserStats","UserStats")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon-pie-chart-1"></i><span class="kt-menu__link-text">Stats</span></a></li>
                }

                @if (ViewBag.Route == "settings")
                {
                    <li class="kt-menu__item  kt-menu__item--active" aria-haspopup="true"><a href="@Url.Action("ViewUserSettings","UserSettings")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Settings</span></a></li>
                }
                else
                {
                    <li class="kt-menu__item" aria-haspopup="true"><a href="@Url.Action("ViewUserSettings","UserSettings")" class="kt-menu__link "><i class="kt-menu__link-icon flaticon2-gear"></i><span class="kt-menu__link-text">Settings</span></a></li>
                }

            </ul>
        </div>
    </div>

    <!-- end:: Aside Menu -->
</div>



