﻿<div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url(/assets/media/misc/bg-1.jpg)">
    <div class="kt-user-card__avatar">
        <img class="kt-hidden" alt="Pic" src="/assets/media/users/300_25.jpg" />

        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">N</span>
    </div>
    <div class="kt-user-card__name">
        Norbert Pisz
    </div>
    <div class="kt-user-card__badge">
        <span class="btn btn-success btn-sm btn-bold btn-font-md">23 messages</span>
    </div>
</div>

<!--begin: Navigation -->
<div class="kt-notification">
    <div class="kt-notification__custom kt-space-between">
        <a href="@Url.Action("Login","Account")" target="_blank" class="btn btn-label btn-label-brand btn-sm btn-bold">Sign Out</a>
    </div>
</div>

<!--end: Navigation -->