﻿@model long
@inject GoldBug.Data.ApplicationDbContext db;
@{
    var trackers = new List<TrackerM>();
    trackers.Add(new TrackerM() { Name = "Google Analytics", IsEnabled = true, TrackerCode = "ga", RuleRegex="*://*/analytics.js" });
    trackers.Add(new TrackerM() { Name = "Facebook Connect", IsEnabled = true, IsBlocked = true, TrackerCode = "fa", RuleRegex="*://connect.facebook.net/en_US/fbevents.js" });
    trackers.Add(new TrackerM() { Name = "DoubleClick", IsEnabled = true, TrackerCode = "db" });
    trackers.Add(new TrackerM() { Name = "Google Publisher Tags", IsEnabled = true, TrackerCode = "gbt" });
    trackers.Add(new TrackerM() { Name = "Google Tag Manager", IsEnabled = true, TrackerCode = "gtm" });
    trackers.Add(new TrackerM() { Name = "ScoreCard Research Beacon", IsEnabled = true, TrackerCode = "srb" });
    trackers.Add(new TrackerM() { Name = "Google Adsense", IsEnabled = true, TrackerCode = "gads" });
        trackers.Add(new TrackerM() { Name = "LiveInternet", IsEnabled = true, TrackerCode = "li" });
    trackers.Add(new TrackerM() { Name = "AppNexus", IsEnabled = true, TrackerCode = "an" });
    trackers.Add(new TrackerM() { Name = "Google Dynamic Remarketing", IsEnabled = true, TrackerCode = "gdr" });
    trackers.Add(new TrackerM() { Name = "Google AdWords Conversion", IsEnabled = true, TrackerCode = "gac" });
    trackers.Add(new TrackerM() { Name = "CSR Onet", IsEnabled = true, TrackerCode = "csronet", RuleRegex="*://csr.onet.pl/*"});
    trackers.Add(new TrackerM() { Name = "Track Wykop", IsEnabled = true, TrackerCode = "trwykop", RuleRegex="*://track.adform.net/*"});
    trackers.Add(new TrackerM() { Name = "Brandmetrics", IsEnabled = true, TrackerCode = "brdm", RuleRegex="*://cdn.brandmetrics.com/*"});
    trackers.Add(new TrackerM() { Name = "Events OCDN", IsEnabled = true, TrackerCode = "ocdnEv", RuleRegex="*://events.ocdn.eu/*"});
    trackers.Add(new TrackerM() { Name = "Google Adservices", IsEnabled = true, TrackerCode = "googleAS", RuleRegex="*://www.googleadservices.com/*"});   
    trackers.Add(new TrackerM() { Name = "Google Manager", IsEnabled = true, TrackerCode = "googleMG", RuleRegex="*://googletagmanager.com/gtm.js/*"});
    trackers.Add(new TrackerM() { Name = "Twitter Button", IsEnabled = false, TrackerCode = "tb" });
    trackers.Add(new TrackerM() { Name = "Yandex.Metrics", IsEnabled = false, TrackerCode = "ya" });
    trackers.Add(new TrackerM() { Name = "Facebook Custom Audience", IsEnabled = false, TrackerCode = "fbca" });
    trackers.Add(new TrackerM() { Name = "Facebook Social Plugins", IsEnabled = false, TrackerCode = "fbsp" });
    trackers.Add(new TrackerM() { Name = "Criteo", IsEnabled = false, TrackerCode = "c" });
    trackers.Add(new TrackerM() { Name = "Google+ Platform", IsEnabled = false, TrackerCode = "gpp" });
    trackers.Add(new TrackerM() { Name = "New Relic", IsEnabled = false, TrackerCode = "nr" });
    trackers.Add(new TrackerM() { Name = "Quantcast", IsEnabled = false, TrackerCode = "qc" });
    trackers.Add(new TrackerM() { Name = " Amazon Associates", IsEnabled = true, TrackerCode = "aa" });

    var cookies = new List<SiteCookieM>();
    cookies.Add(new SiteCookieM() { Name = "Google Analytics UserId" });
    cookies.Add(new SiteCookieM() { Name = "adform.net" });
    cookies.Add(new SiteCookieM() { Name = "track.adform.net" });
    cookies.Add(new SiteCookieM() { Name = "adnxs.com" });
    cookies.Add(new SiteCookieM() { Name = "brandmetrics.net" });
    cookies.Add(new SiteCookieM() { Name = "casalemedia.com" });
    cookies.Add(new SiteCookieM() { Name = "creativecdn.com" });
    cookies.Add(new SiteCookieM() { Name = "doubleclick.net" });
    cookies.Add(new SiteCookieM() { Name = "hit.gemius.pl" });
    cookies.Add(new SiteCookieM() { Name = "facebook.com" });
    cookies.Add(new SiteCookieM() { Name = "facebook.com" });
    cookies.Add(new SiteCookieM() { Name = "goodservices.com" });
    cookies.Add(new SiteCookieM() { Name = "csr.onet.com" });
    cookies.Add(new SiteCookieM() { Name = "tagger.opencloud.com" });
    cookies.Add(new SiteCookieM() { Name = "pubmatic.com" });
    cookies.Add(new SiteCookieM() { Name = "eus.rubiconproject.com" });

    var trackingData = new List<SiteUserDataM>();
    trackingData.Add(new SiteUserDataM() { IconName = "fa-user", IsProvided = false, IsBlocked = true, Name = "Name And Surname" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-mail-bulk", IsProvided = true, IsBlocked = true, Name = "Email" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-key", IsProvided = false, IsBlocked = false, Name = "Password" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-calendar", IsProvided = true, IsBlocked = false, Name = "Birth date & Age" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-file-image", IsProvided = true, IsBlocked = false, Name = "Identity card scan" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-credit-card", IsProvided = false, IsBlocked = false, Name = "Credit Card Data" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-home", IsProvided = false, IsBlocked = true, Name = "Address" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-transgender", IsProvided = true, IsBlocked = false, Name = "Gender" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-sort-numeric-up", IsProvided = false, IsBlocked = true, Name = "PESEL" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-shopping-basket", IsProvided = true, IsBlocked = false, Name = "Shoppings data" });
    trackingData.Add(new SiteUserDataM() { IconName = "fa-search", IsProvided = true, IsBlocked = false, Name = "Search words" });


    var site = db.UserSites.SingleOrDefault(s => s.Id == Model);
    var dbRules = db.SiteSecurityRules.ToList();
}

<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title"> <img style="width:20px" src="https://www.google.com/s2/favicons?domain=@site.Domain?.Trim()" /> @site.Domain</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <span class="kt-subheader__desc">@site.DomainCategory</span>
        </div>
    </div>
</div>
<!-- end:: Content Head -->

<div class="row">
    <div class="col-xl-4">
        <!--begin:: Widgets/Last Updates-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <i class="flaticon-eye"></i> Tracker scripts
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!--begin::widget 12-->
                <div class="kt-widget4">

                    @foreach (var t in trackers)
                    {
                        var isBlocked = false;
                        <div class="kt-widget4__item">
                            @if (t.IsEnabled)
                            {
                                <span class="kt-widget4__icon">
                                    <i class="flaticon-eye kt-font-success"></i>
                                </span>
                            }
                            else
                            {
                                <span class="kt-widget4__icon">
                                    <i class="flaticon-eye kt-font-danger"></i>
                                </span>
                            }

                            <a href="#" class="kt-widget4__title kt-widget4__title--light">
                                @t.Name
                            </a>
                            <div class="kt-widget4__number">

                                @foreach (var a in dbRules)
                                {

                                    @if (t.TrackerCode == a.TrackerCode && @site.Id == a.UserSiteId)
                                    {
                                        <i class="flaticon2-lock kt-font-danger"></i>
                                        isBlocked = true;
                                        break;
                                    }
                                }

                                @if (t.IsEnabled)
                                {
                                    @if (isBlocked)
                                    {
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon-more-1"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="@Url.Action("RemoveSiteRule","UserMySites",new { siteId=site.Id, siteName=site.Domain,name=$"Blokowanie {t.Name}",ruleCode=$"block-{t.TrackerCode}" , trackerCode=t.TrackerCode, RuleRegex=t.RuleRegex})">  <i style="color:green" class="fa fa-unlock"></i> Unblock</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="dropdown dropdown-inline">
                                            <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <i class="flaticon-more-1"></i>
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-right">
                                                <a class="dropdown-item" href="@Url.Action("AddSiteRule","UserMySites",new { siteId=site.Id, siteName=site.Domain,name=$"Blokowanie {t.Name}",ruleCode=$"block-{t.TrackerCode}" , trackerCode=t.TrackerCode, RuleRegex=t.RuleRegex})">  <i class="flaticon2-lock"></i> Block</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                                            </div>
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
                <!--end::Widget 12-->
            </div>
        </div>
        <!--end:: Widgets/Last Updates-->
    </div>

    <div class="col-xl-4">
        <!--begin:: Widgets/Last Updates-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <i class="fa fa-database"></i>  Tracking Data
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!--begin::widget 12-->
                <div class="kt-widget4">
                    @foreach (var c in trackingData)
                    {
                        <div class="kt-widget4__item">
                            @if (c.IsProvided)
                            {
                                <span class="kt-widget4__icon">
                                    <i class="fa @c.IconName kt-font-success"></i>
                                </span>
                            }
                            else
                            {
                                <span class="kt-widget4__icon">
                                    <i class="fa @c.IconName kt-font-danger"></i>
                                </span>
                            }

                            <a href="#" class="kt-widget4__title kt-widget4__title--light">
                                @c.Name
                            </a>
                            <div class="kt-widget4__number">

                                @if (c.IsBlocked)
                                {
                                    <i class="flaticon2-lock kt-font-danger"></i>
                                }
                                <div class="dropdown dropdown-inline">
                                    <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="flaticon-more-1"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">  <i class="flaticon2-lock"></i> Block</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--end::Widget 12-->
            </div>
        </div>
        <!--end:: Widgets/Last Updates-->
    </div>

    <div class="col-xl-4">
        <!--begin:: Widgets/Last Updates-->
        <div class="kt-portlet kt-portlet--height-fluid">
            <div class="kt-portlet__head">
                <div class="kt-portlet__head-label">
                    <h3 class="kt-portlet__head-title">
                        <i class="flaticon-pie-chart-1"></i>  Cookies
                    </h3>
                </div>
            </div>
            <div class="kt-portlet__body">
                <!--begin::widget 12-->
                <div class="kt-widget4">
                    @foreach (var c in cookies)
                    {
                        <div class="kt-widget4__item">
                            <span class="kt-widget4__icon">
                                <i class="flaticon-pie-chart-1"></i>
                            </span>
                            <a href="#" class="kt-widget4__title kt-widget4__title--light">
                                @c.Name
                            </a>
                            <div class="dropdown dropdown-inline">
                                <button type="button" class="btn btn-hover-brand btn-elevate-hover btn-icon btn-sm btn-icon-md btn-circle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="flaticon-more-1"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">  <i class="flaticon2-lock"></i> Block</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#"><i class="la la-cog"></i> Settings</a>
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <!--end::Widget 12-->
            </div>
        </div>
        <!--end:: Widgets/Last Updates-->
    </div>
</div>