﻿@inject GoldBug.Data.ApplicationDbContext db;
@{
    ViewBag.Route = "mysites";
    var dbSites = db.UserSites.OrderByDescending(a=>a.LastViewed).ToList();

    var random = new Random();
}


<!-- begin:: Content Head -->
<div class="kt-subheader  kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <h3 class="kt-subheader__title">My websites</h3>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
        </div>
    </div>
</div>
<!-- end:: Content Head -->


<div class="row">
    <div class="col-xl-12">
        <div class="kt-portlet kt-portlet--tabs kt-portlet--height-fluid">
            <div class="kt-portlet__body">
                <div class="kt-widget11">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <td style="width:1%">#</td>
                                    <td style="width:20%">Website</td>
                                    <td style="width:14%">Scripts</td>
                                    <td style="width:15%">Data</td>
                                    <td style="width:15%">Last visited</td>
                                    <td style="width:15%">Views</td>
                                    <td style="width:15%">Stats</td>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var s in dbSites)
                                {
                                     s.TrackingScripts = new List<string>() { "ga" };

                                    if (random.Next(0, 3) == 2)
                                    {
                                        s.TrackingScripts.Add("fb");
                                    }

                               
                                    s.ListData = new List<string>() { "loc" };

                                    if (random.Next(0, 3) == 2)
                                    {
                                        s.ListData.Add("user");
                                    }
                                    
                                    if (random.Next(0, 3) == 2)
                                    {
                                        s.ListData.Add("chat");
                                    }

                                    <tr>
                                        <td>
                                            <img style="width:20px" src="https://www.google.com/s2/favicons?domain=@s.Domain.Trim()" />
                                        </td>
                                        <td>
                                            <a href="@Url.Action("ViewMySite","UserMySites",new { siteId=s.Id})" class="kt-widget11__title">@s.Domain</a>
                                            <span class="kt-widget11__sub">@s.DomainCategory</span>
                                        </td>
                                        <td>
                                            @if (s.TrackingScripts.Contains("ga"))
                                            {
                                                <img data-toggle="kt-tooltip" data-placement="left" title="Google Analytics"
                                                     src="~/images/icons/analytcis.png" style="width:20px" />
                                            }

                                            @if (s.TrackingScripts.Contains("fb"))
                                            {
                                                <img data-toggle="kt-tooltip" data-placement="left" title="Facebook"
                                                     src="~/images/icons/facebook.png" style="width:20px" />
                                            }

                                            @if (s.TrackingScripts.Contains("loc"))
                                            {
                                                <img data-toggle="kt-tooltip" data-placement="left" title="Location"
                                                     src="~/images/icons/location.png" style="width:20px" />
                                            }
                                        </td>
                                        <td>
                                            @if (s.ListData.Contains("user"))
                                            {
                                                <i data-toggle="kt-tooltip" data-placement="left" title="Account created" class="flaticon2-user-1"></i>
                                            }

                                            @if (s.ListData.Contains("loc"))
                                            {
                                                <i data-toggle="kt-tooltip" data-placement="left" title="Location" class="flaticon2-pin-1"></i>
                                            }

                                            @if (s.ListData.Contains("chat"))
                                            {
                                                <i data-toggle="kt-tooltip" data-placement="left" title="Chat message" class="flaticon-chat"></i>
                                            }

                                        </td>
                                        <td>
                                            <span>@s.LastViewed.ToString("dd-MM-yyyy HH:mm")</span>
                                        </td>
                                        <td>
                                            @s.Views
                                        </td>
                                        <td>
                                            <i class="kt-menu__link-icon flaticon2-notification">@random.Next(1,15)</i>
                                            <i class="kt-menu__link-icon flaticon2-exclamation ">@random.Next(1, 15)</i>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="kt-widget11__action kt-align-right">

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




